@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One");
@import url("https://fonts.googleapis.com/css?family=Heebo:200,300,400,900");
@import url("https://use.typekit.net/ppt8fxq.css");
@import url("https://fonts.googleapis.com/css?family=Barlow");
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #333333;
}

::-webkit-scrollbar-track {
  background: black;
}

body {
  scrollbar-face-color: #333333;
  scrollbar-track-color: black;
}

body {
  background: black;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: none;
}

a {
  color: black;
  text-decoration: none;
}

.pre-preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 999999999;
  opacity: 1;
  -webkit-animation: fadeOut .2s ease forwards;
          animation: fadeOut .2s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.preloader {
  -webkit-transition: cubic-bezier(1, 0.13, 0.39, 0.98) 0.9s;
  transition: cubic-bezier(1, 0.13, 0.39, 0.98) 0.9s;
  position: fixed;
  text-align: center;
  background: black;
  width: 100%;
  height: 100vh;
  z-index: 99999999999999999;
}

.preloader img {
  margin-top: 400px;
  width: 50px;
  text-align: center;
}

.preloader-title {
  color: white;
  font-family: "museo-sans-display", sans-serif;
  font-size: 30px;
  position: relative;
  display: block;
}

.loaderWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loaderCircle {
  opacity: 0;
  position: absolute;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-radius: 50%;
  color: white;
  width: 300px;
  height: 300px;
  margin-top: 460px;
}

.preloader-loaded {
  opacity: 0;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.interfaceCursor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  color: white;
  position: absolute;
  left: -40px;
  top: -40px;
  z-index: 999;
  pointer-events: none;
}

.interfaceCursorPrompt {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  color: white;
  position: absolute;
  z-index: 999;
  pointer-events: none;
}

.innerCircle {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background: white;
  z-index: 11111;
  left: -18.5px;
  top: -18.5px;
  pointer-events: none;
}

.innerCirclePrompt {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background: white;
  z-index: 11111;
  pointer-events: none;
}

.main {
  width: 100%;
  height: 100vh;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  position: relative;
  background: #fff;
  font-family: "Heebo", sans-serif;
  -webkit-transition: ease .5s;
  transition: ease .5s;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.mainIn {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.main-branding {
  width: 250px;
  position: relative;
  z-index: 2;
  padding: 7px;
  height: 0px;
  -webkit-transition: ease 4.6s;
  transition: ease 4.6s;
}

.top-logo {
  width: 11px;
}

.main-logo-title {
  font-family: "Heebo", sans-serif;
  color: black;
  font-weight: 200;
  font-size: 30px;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.main-logo {
  width: 264px;
  position: relative;
  margin-top: -148px;
  float: right;
}

.main-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  margin-right: 10px;
  font-family: "museo-sans-display", sans-serif;
  z-index: 99;
}

.main-title > span {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  white-space: pre;
  display: block;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  will-change: opacity, transform;
}

.sub-title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.sub-title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 25px;
  z-index: 99;
  margin-top: 150px;
}

.sub-title p > span {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  white-space: pre;
  display: block;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  will-change: opacity, transform;
}

.main-title > span {
  -webkit-transition: ease .6s;
  transition: ease .6s;
}

.main-bg-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  -webkit-transition: border 0.5s cubic-bezier(0.84, -0.1, 0.13, 1.12);
  transition: border 0.5s cubic-bezier(0.84, -0.1, 0.13, 1.12);
  animation: colorCycle infinite linear 8s alternate-reverse;
}

@-webkit-keyframes colorCycle {
  0% {
    -webkit-filter: hue-rotate(282deg);
            filter: hue-rotate(282deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
}

@keyframes colorCycle {
  0% {
    -webkit-filter: hue-rotate(282deg);
            filter: hue-rotate(282deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
}

.intro {
  height: 1015px;
  width: 100%;
}

@media (max-width: 1200px) {
  .intro {
    background: white;
    height: 1700px;
  }
}

.intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-title {
  color: black;
  font-size: 50px;
  margin-top: 50px;
  z-index: 2;
  position: absolute;
  font-family: "museo-sans-display", sans-serif;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
  opacity: 0;
}

.project-area {
  height: 400px;
  width: 100%;
  max-width: 750px;
  background: #6158ff;
  z-index: 1;
  margin-top: 170px;
  -webkit-box-shadow: #6259ff45 0 0 100px;
          box-shadow: #6259ff45 0 0 100px;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  opacity: 0;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.project-area span {
  font-size: 2.3em;
  font-family: "Barlow", sans-serif;
  color: white;
}

.project-area p {
  font-family: "Barlow", sans-serif;
  color: white;
  font-size: 1.3em;
}

.project-area .project-image {
  width: 100%;
  overflow: hidden;
  height: auto;
  margin-top: 50px;
  -webkit-box-shadow: #6158ff6e 0 22px 100px;
          box-shadow: #6158ff6e 0 22px 100px;
}

.project-area .project-image img {
  width: 100%;
}

.project-area .project-tech {
  float: right;
  opacity: .4;
}

.pa-bolt {
  background: #9465c3;
  -webkit-box-shadow: #9465c357 0 0 100px;
          box-shadow: #9465c357 0 0 100px;
}

.project-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .project-grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.inner-circle-clone {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  z-index: 11160;
  margin: 0 auto;
  margin-top: 139px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.inner-circle-clone-full {
  -webkit-transform: scale(26);
          transform: scale(26);
}

#gl {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
}

.scrollPrompt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main svg {
  position: absolute;
  width: 100%;
  max-width: 20px;
}

.scrollPrompt svg path {
  stroke-dasharray: 10;
}

.prompt-title {
  position: absolute;
  font-family: "museo-sans-display", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  z-index: 99;
  margin-top: -140px;
  color: white;
}

@media (max-width: 730px) {
  .main-title-wrapper {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media (max-width: 600px) {
  .main-title-wrapper {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .sub-title {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 500px) {
  .main-title-wrapper {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 450px) {
  .main-title-wrapper {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 420px) {
  .main-title-wrapper {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 420px) {
  .main-title-wrapper {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

.dev-notice {
  opacity: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  color: black;
  font-size: 1.7em;
  font-family: "Barlow", sans-serif;
  z-index: 1;
  position: relative;
  top: 230px;
  text-align: center;
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
}

.dev-notice i {
  color: black;
  cursor: pointer;
  opacity: .5;
}

.dev-notice i:hover {
  opacity: 1;
}

.dev-notice span:nth-child(3) {
  margin-top: 20px;
  display: block;
}

.dev-notice span:nth-child(3) a {
  opacity: .5;
}

.dev-notice span:nth-child(3) a:hover {
  opacity: 1;
}
/*# sourceMappingURL=index.css.map */