// Font Imports
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
@import url('https://fonts.googleapis.com/css?family=Heebo:200,300,400,900');
@import url("https://use.typekit.net/ppt8fxq.css");


// SCSS Variables
$rubik-one: 'Rubik Mono One', sans-serif;
$heebo: 'Heebo', sans-serif;
$museo-light: 'museo-sans-display', sans-serif;

// SCSS Functions

// Random min and max value
@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));
    
    @return $randomNum;
}

body {
    background: black;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    // overflow: hidden;
    // Hide cursor for main section
    cursor: none;
}

.preloader {
    transition: cubic-bezier(1, 0.13, 0.39, 0.98) 0.9s;
    position: fixed;
    text-align: center;
    background: black;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.preloader img {
    margin-top: 400px;
    width: 50px;
    text-align: center;
}

.preloader-title {
    color: white;
    font-family: $museo-light;
    font-size: 30px;
    position: relative;
    display: block;
}

.loaderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaderCircle {
    opacity: 0;
    position: absolute;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-radius: 50%;
    color: white;
    width: 300px;
    height: 300px;
    margin-top: 460px; 
}

.preloader-loaded {
    opacity: 0;
    transform: scale(2);
}

// Interface Cursor 
.interfaceCursor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    color: white;
    position: absolute;
    left: -40px;
    top: -40px;
    z-index: 999;
    pointer-events: none;
}

.interfaceCursorPrompt {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    color: white;
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

.innerCircle {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    z-index: 11111;
    left: -18.5px;
    top: -18.5px;
    pointer-events: none;
}

.innerCirclePrompt {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    z-index: 11111;
    pointer-events: none;
}

.main {
    width: 100%;
    height: 100vh;
    perspective: 1000px;
    // position: absolute;
    position: relative;
    background: #fff;
    font-family: $heebo;
    transition: ease .5s;
    transform: translateY(100px);
}

.mainIn {
    transform: translateY(0px);
}

.main-branding {
    width: 250px;
    position: relative;
    z-index: 2;
    padding: 7px;
    height: 0px;
    transition: ease 4.6s;
}

.top-logo {
    width: 11px;
}

.main-logo-title {
    font-family: $heebo;
    color: black;
    font-weight: 200;
    font-size: 30px;
}

.main-content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main-logo {
    width: 264px;
    position: relative;
    margin-top: -148px;
    float: right;
}

.main-title {
    display: flex;
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 10px; 
    font-family: $museo-light;
    z-index: 99;
    & > span {
        flex: none;
        white-space: pre;    
        display: block;
        position: relative;
        // transition: ease .5s;
        opacity: 0;
        transform: translateY(0px);
        will-change: opacity, transform;
    }
}

.sub-title {
    position: absolute;
    display: flex;
    margin-top: 100px;
}

.sub-title p {
    display: flex;
    color: white;
    font-size: 25px;
    z-index: 99;
    margin-top: 150px;
    & > span {
        flex: none;
        white-space: pre;    
        display: block;
        position: relative;
        // transition: ease .5s;
        opacity: 0;
        transform: translateY(0px);
        will-change: opacity, transform;
    }
}

.main-title > span {
    // display: block;
    transition: ease .6s;
}


.main-bg-image {
    // background-image: url(../assets/images/graphics/main-section-default-2.png);
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: border .5s cubic-bezier(0.84, -0.1, 0.13, 1.12);
    animation: colorCycle infinite linear 8s alternate-reverse;
    @keyframes colorCycle {
        0% {
            filter: hue-rotate(#{randomNum(250, 360)}deg);
        }

        100% {
            filter: hue-rotate(#{randomNum(0, 0)}deg); 
        }
    }
}

// Temp devScroll section
.intro {
    // height: 600px;
    height: 1015px;
    width: 100%;
}

// Inner circle clone for transiton to intro section
.inner-circle-clone {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
    z-index: 11160;
    margin: 0 auto;
    margin-top: 139px;
    transform: scale(0);
    transition: .5s ease;
}

.inner-circle-clone-full {
    transform: scale(26);
}


// Web GL Depth Element

#gl {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
}

// Take the leap SVG
.scrollPrompt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main svg {
    position: absolute;
    width: 1%;
}

.scrollPrompt svg path {
    stroke-dasharray: 10;
}

.prompt-title {
    position: absolute;
    font-family: "museo-sans-display", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    z-index: 99;
    margin-top: -140px;
    color: white;
}

// Media Queries 

@media (max-width: 1400px) { 
    .main-title {
        margin-left: 350px;
        left: 0px;
    }
}

@media (max-width: 1375px) { 
    .main-title {
        margin-left: 300px;
        transform: scale(.8);
    }
}

@media (max-width: 1200px) { 
    .main-title {
        margin-left: 200px;
        transform: scale(.8);
    }
}

// Center Layout for small widthed based devices

@media (max-width: 1000px) { 
    .main-title {
        margin-left: 100px;
        transform: scale(.8);
    }
}

@media (max-width: 730px) { 
    .main-title {
        margin-left: 60px;
        transform: scale(.7);
    }
}

@media (max-width: 600px) { 
    .main-title {
        margin-left: 10px;
        transform: scale(.7);
    }
}

@media (max-width: 500px) { 
    .main-title {
        margin-left: 0px;
        transform: scale(.6);
    }
}

@media (max-width: 450px) { 
    .main-title {
        margin-left: -30px;
        transform: scale(.6);
    }
}

@media (max-width: 420px) { 
    .main-title {
        margin-left: -40px;
        transform: scale(.6);
    }
}

@media (max-width: 420px) { 
    .main-title {
        margin-left: -50px;
        transform: scale(.6);
    }
}