@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One");
@import url("https://fonts.googleapis.com/css?family=Heebo:200,300,400,900");
@import url("https://use.typekit.net/ppt8fxq.css");
body {
  background: black;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  cursor: none;
}

.preloader {
  -webkit-transition: cubic-bezier(1, 0.13, 0.39, 0.98) 0.9s;
  transition: cubic-bezier(1, 0.13, 0.39, 0.98) 0.9s;
  position: fixed;
  text-align: center;
  background: black;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.preloader img {
  margin-top: 400px;
  width: 50px;
  text-align: center;
}

.preloader-title {
  color: white;
  font-family: "museo-sans-display", sans-serif;
  font-size: 30px;
  position: relative;
  display: block;
}

.loaderWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loaderCircle {
  opacity: 0;
  position: absolute;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-radius: 50%;
  color: white;
  width: 300px;
  height: 300px;
  margin-top: 460px;
}

.preloader-loaded {
  opacity: 0;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.interfaceCursor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  color: white;
  position: fixed;
  left: -40px;
  top: -40px;
  z-index: 999;
}

.innerCircle {
  width: 10px;
  height: 10px;
  position: fixed;
  border-radius: 50%;
  background: white;
  z-index: 11111;
  left: -18.5px;
  top: -18.5px;
}

.main {
  width: 100%;
  height: 100vh;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  position: absolute;
  background: #fff;
  font-family: "Heebo", sans-serif;
  -webkit-transition: ease .5s;
  transition: ease .5s;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.mainIn {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.main-branding {
  width: 250px;
  position: relative;
  z-index: 2;
  padding: 7px;
  height: 0px;
  -webkit-transition: ease 4.6s;
  transition: ease 4.6s;
}

.top-logo {
  width: 11px;
}

.main-logo-title {
  font-family: "Heebo", sans-serif;
  color: black;
  font-weight: 200;
  font-size: 30px;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.main-logo {
  width: 264px;
  position: relative;
  margin-top: -148px;
  float: right;
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  margin-right: 10px;
  font-family: "museo-sans-display", sans-serif;
  z-index: 99;
}

.main-title > span {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  white-space: pre;
  display: block;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  will-change: opacity, transform;
}

.sub-title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.sub-title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 25px;
  z-index: 99;
  margin-top: 150px;
}

.sub-title p > span {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  white-space: pre;
  display: block;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  will-change: opacity, transform;
}

.main-title > span {
  -webkit-transition: ease .6s;
  transition: ease .6s;
}

.main-bg-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  -webkit-transition: border 0.5s cubic-bezier(0.84, -0.1, 0.13, 1.12);
  transition: border 0.5s cubic-bezier(0.84, -0.1, 0.13, 1.12);
  animation: colorCycle infinite linear 8s alternate-reverse;
}

@-webkit-keyframes colorCycle {
  0% {
    -webkit-filter: hue-rotate(266deg);
            filter: hue-rotate(266deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
}

@keyframes colorCycle {
  0% {
    -webkit-filter: hue-rotate(266deg);
            filter: hue-rotate(266deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
}

.devScroll {
  height: 1500px;
  width: 100%;
}

#gl {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
}

.exitPage {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  opacity: 0;
}

@media (max-width: 1400px) {
  .main-title {
    margin-left: 350px;
    left: 0px;
  }
}

@media (max-width: 1375px) {
  .main-title {
    margin-left: 300px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 1200px) {
  .main-title {
    margin-left: 200px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 1000px) {
  .main-title {
    margin-left: 100px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 730px) {
  .main-title {
    margin-left: 60px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media (max-width: 600px) {
  .main-title {
    margin-left: 10px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media (max-width: 500px) {
  .main-title {
    margin-left: 0px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 450px) {
  .main-title {
    margin-left: -30px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 420px) {
  .main-title {
    margin-left: -40px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 420px) {
  .main-title {
    margin-left: -50px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}
/*# sourceMappingURL=index.css.map */